{% extends "base.html" %}

{% block title %}Listado de Menús{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4">Listado de Menús Actualizado</h1>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        {% for menu in menus %}
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <img class="w-full h-48 object-cover"
                     src="{{ menu.imagen }}"
                     alt="Producto">
                <div class="p-2 my-2 w-full">
                    <h5 class="text-xl font-semibold mb-2">{{ menu.nombre }}</h5>
                <p class="text-gray-700 mb-3">{{ menu.descripcion }}</p>
                <p class="text-gray-900 font-bold mb-3"><strong>Restaurante:</strong> {{ menu.restaurante.nombre }}</p>
                <a href="{% url 'listado_productos' %}"
                   class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ver Productos</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
